.card{
    background-color: white;
    width: 35%;
    margin: auto;
    height: 40vh;
    margin-top: 10rem;
    text-align: center;
    padding-top: 2rem;
}

.formInput{
    padding: 0.6rem 2rem;
    border: 0.1rem solid;
    border-color: rgb(217, 0, 255);
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 2rem;
}
